# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment files
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Package dist
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
